<%- include('./partials/header') %>
<!--  -->
<%- include('./partials/nav') %>


<div class="card text-center mt-5">
  <div class="card-body ">
    <h1 class="card-title fs-1 mt-5">Welcome To Home</h1>
    <p class="card-text fs-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea eveniet perferendis maiores, fugit sapiente nobis at deleniti provident soluta totam. Deleniti necessitatibus et aliquam sed odio quia quod dolorum obcaecati.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!--  -->
<%- include('./partials/footer') %>
  


