<%- include('./partials/header') %>
<!--  -->
<%- include('./partials/nav') %>

    <form action="/register" method="post">


        <input type="text" placeholder="Enter Name" name="username"> <br>
        <input type="text" placeholder="Enter Number" name="contact"> <br>
        <input type="email" placeholder="Enter Email" name="email"> <br>
        <input type="text" placeholder="Enter Address" name="address" > <br>

        <button>Add Contact</button>

    </form>


<!--  -->
<%- include('./partials/footer') %>
  